.banner-section {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: purple;
    text-align: left;
}

.banner-text-category {
    display: inline;
    border-bottom: 3px solid purple;
    padding-bottom: 5px;
}

.banner-text-desc span {
    display: block;
}

.banner-text h1 {
    font-size: 70px;
    line-height: 1.1;
}

.banner-text h3 {
    font-weight: 500;
    font-size: 24px;
}

.banner-button {
    border: transparent;
    display: inline-block;
    margin-top: 2px;
    padding: 8px 20px;
    border-radius: 5px;
    color: purple;
    background: #f5e07a;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.banner button i {
    margin-left: 8px;
}

.banner-button:hover {
    background: purple;
    color: #f5e07a;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .banner-text {
        left: 10%;
    }

    .banner-text h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .banner-section img {
        height: 70vh;
    }

    .banner-text {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }

    .banner-text h1 {
        font-size: 36px;
    }

    .banner-text h3 {
        font-size: 18px;
    }

    .banner-button {
        font-size: 16px;
        padding: 10px 18px;
    }
}

@media (max-width: 480px) {
    .banner-text h1 {
        font-size: 28px;
    }
}