.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    text-align: center;
}

.loading-icon {
    font-size: 3rem;
    color: purple;
    margin-bottom: 1rem;
}

.loading-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: purple;
    letter-spacing: 1px;
}