.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px purple;
}

.navbar-logo h1 {
    font-size: 36px;
    color: #f5e07a;
}

.navbar-menus ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-menus a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    color: purple;
}

.navbar-menus a:hover,
.navbar-menus a.active {
    color: #f5e07a;
}

.navbar-button {
    gap: 20px;
    display: flex;
    align-items: center;
}

.navbar-button-mobile {
    display: none;
}

.login-button {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.cart-button,
.login-button,
.helper-button {
    border: none;
    background: none;
    font-size: 20px;
    color: purple;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: inherit;
    font-weight: 500;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.cart-button:hover,
.login-button:hover,
.helper-button:hover {
    color: #f5e07a;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: purple;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .menu-toggle {
        display: block;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: purple;
        cursor: pointer;
    }

    .navbar-header {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .navbar-menus ul {
        flex-direction: column;
        padding: 0;
    }

    .navbar-menus {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 998;
    }

    .navbar-menus.active {
        display: flex;
    }

    .navbar-menus li {
        padding: 12px 20px;
        border-bottom: 1px solid #eee;
    }

    .navbar-menus li:last-child {
        margin-bottom: 20px;
    }

    .navbar-button {
        display: none;
    }

    .navbar-button-mobile {
        display: flex;
        flex-direction: row;
        width: 80%;
        gap: 30px;
        margin: 10px auto 30px auto;
    }

    .navbar-button-mobile button,
    .navbar-button-mobile .login-button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px 0;
        font-size: 18px;
        font-weight: 500;
        font-family: inherit;
        color: purple;
        background: none;
        border: 1px solid purple;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        text-decoration: none;
    }

    .navbar-button-mobile button:hover,
    .navbar-button-mobile .login-button:hover {
        background: purple;
        color: #f5e07a;
    }
}

@media (max-width: 768px) {
    .navbar-header {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .navbar-menus ul {
        flex-direction: column;
        gap: 15px;
        padding: 0;
    }

    .cart-table-header {
        display: none;
    }

    .cart-row {
        background: #f9f9f9;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 12px;
        border-bottom: none;
    }

    .delete-item {
        font-size: 18px;
    }

    .cart-summary {
        width: 100%;
        margin: 0;
    }

    .navbar-button {
        display: none;
    }

    .navbar-button-mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .navbar-button-mobile button,
    .navbar-button-mobile .login-button {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 12px 0;
        font-size: 14px;
        font-weight: 500;
        font-family: inherit;
        color: purple;
        background: none;
        border: 1px solid purple;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        text-decoration: none;
    }

    .navbar-button-mobile button:hover,
    .navbar-button-mobile .login-button:hover {
        background: purple;
        color: #f5e07a;
    }
}

@media (max-width: 480px) {
    .navbar-menus {
        margin-top: 10px;
        gap: 10px;
    }

    .navbar-menus ul {
        width: 100%;
        gap: 10px;
    }
}