.news-section {
    background: purple;
    padding: 70px 100px;
}

.news-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.news-banner-text {
    color: #f5e07a;
    font-size: 36px;
    font-weight: 300;
}

.news-banner-text span {
    display: inline;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.news-banner-text span:hover {
    border-bottom: 10px solid #f5e07a;
    border-radius: 20px;
}

.news-input {
    width: 260px;
    height: 52px;
    border: none;
    color: purple;
    outline: none;
    padding: 0 20px;
    border-radius: 999px 0 0 999px;
    font-size: 14px;
    flex: 1;
    min-width: 0;
}

.news-input::placeholder {
    color: purple;
}

.news-button {
    height: 52px;
    padding: 0 28px;
    margin: 0;
    border: none;
    background-color: #f5e07a;
    color: purple;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0 999px 999px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.news-button:hover {
    background: red;
    color: #fff
}

.news-subscribe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .news-header {
        padding: 50px 40px;
    }

    .news-banner-text {
        font-size: 30px;
    }

    .news-subscribe {
        flex-direction: row;
    }

    .news-input,
    .news-button {
        height: 50px;
        padding: 0 24px;
    }
}

@media (max-width: 768px) {
    .news-header {
        padding: 40px 20px;
    }

    .news-banner {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .news-banner-text {
        font-size: 26px;
    }

    .news-subscribe {
        width: 100%;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 400px;
        margin: 0 auto;
    }

    .news-input {
        flex: 2;
        min-width: 0;
        padding: 0 25px;
        border-radius: 999px 0 0 999px;
        font-size: 14px;
    }

    .news-button {
        flex: 1;
        padding: 0 25px;
        font-size: 14px;
        border-radius: 0 999px 999px 0;
    }
}

@media (max-width: 480px) {
    .news-header {
        padding: 30px 15px;
    }

    .news-banner-text {
        font-size: 20px;
    }

    .news-subscribe {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }

    .news-input {
        font-size: 12px;
        height: 45px;
        padding: 0 15px;
        border-radius: 999px;
    }

    .news-button {
        font-size: 12px;
        height: 45px;
        padding: 0 20px;
        border-radius: 999px;
    }

    .news-banner-text span {
        font-size: 18px;
    }
}