.our-product-section {
    text-align: center;
    margin: 40px 0;
}

.our-product-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.our-product-card {
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out
}

.our-product-card:hover {
    transform: scale(1.05);
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 30px;
}

.search-bar {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.search-bar::placeholder {
    color: purple;
}

.search-bar:focus {
    border-color: purple
}