.our-product-section {
    text-align: center;
    margin: 40px 0;
}

.our-product-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.our-product-card {
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out
}

.our-product-card:hover {
    transform: scale(1.05);
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 30px;
}

.search-bar {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.search-bar::placeholder {
    color: purple;
}

.search-bar:focus {
    border-color: purple
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .title {
        font-size: 30px;
    }

    .our-product-card {
        width: 50%;
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .search-bar-container {
        width: 90%;
    }

    .our-product-card {
        width: 90%;
        max-width: 360px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }
    
    .our-product-card {
        width: 95%;
    }

    .search-bar-container {
        width: 80%;
    }
}