.our-product-section {
    text-align: center;
    margin: 40px 0;
}

.our-product-card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.our-product-card {
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease-in-out
}

.our-product-card:hover {
    transform: scale(1.05);
}

.search-bar-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 30px auto 30px;
}

.search-bar {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
    border-radius: 10px;
    border: 1.5px solid #ccc;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.search-bar::placeholder {
    color: purple;
}

.search-bar:focus {
    border-color: purple
}

.clear-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    color: purple;
    cursor: pointer;
}

.clear-btn:hover {
    color: #333;
}

.suggestions-list {
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    margin: 5px 0 0 0;
    padding: 0;
}

.suggestions-list li {
    padding: 12px 20px;
    color: purple;
    cursor: pointer;
}

.suggestions-list li:hover {
    background: #f0f0f0;
}

.no-search-results {
    text-align: center;
    color: #777;
    font-style: italic;
    padding: 12px 0;
}

.view-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.view-more-wrapper {
    width: auto;
    align-self: center;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 70px;
    height: auto;
}

.view-more-wrapper .view-more-btn {
    padding: 10px 20px;
    font-size: 14px;
    white-space: nowrap;
}

.view-more-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.view-more-btn {
    margin: 0;
    padding: 12px 32px;
    background: purple;
    color: #f5e07a;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.view-more-btn:hover {
    background: #f5e07a;
    color: purple;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .title {
        font-size: 30px;
    }

    .our-product-card {
        width: 50%;
        max-width: 350px;
    }

    .view-more-wrapper {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .search-bar-container {
        width: 90%;
    }

    .our-product-card {
        width: 90%;
        max-width: 360px;
    }

    .view-more-wrapper {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 24px;
    }
    
    .our-product-card {
        width: 95%;
    }

    .search-bar-container {
        width: 80%;
    }
}