/* src/styling/profile.css */

.profile-container {
    position: relative;
}

.profile-icon {
    color: green; /* Warna hijau jika sudah login */
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.profile-icon:hover {
    color: #f5e07a;
}

.profile-modal {
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    border: 1px solid purple;
    padding: 15px;
    border-radius: 8px;
    z-index: 1000;
    color: purple;
    min-width: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-name {
    font-weight: bold;
    margin: 0;
}

.profile-email {
    font-size: 12px;
    color: gray;
    margin: 5px 0 15px;
}

.logout-button-modal {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    transition: 0.2s;
}

.logout-button-modal:hover {
    background: darkred;
}

.app-version {
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    color: gray;
}