.our-service-section {
    text-align: center;
    margin: 40px 0;
}

.service-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.service-card {
    width: 150px;
    margin: 0 0 20px 0;
    text-align: center;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.3s;
}

.service-card img {
    width: 100%;
    height: auto;
}

.service-desc {
    color: purple;
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}