.supplier-text {
    text-align: center;
    margin: 40px 0;
}

.supplier-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.supplier-card {
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.supplier-card img {
    width: 100%;
    height: auto;
}